<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9dfa6c6e5c.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css"
          rel="stylesheet" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    <title>githuber | home</title>
</head>
<body>

<div class="jumbotron" style="margin-bottom: 0;">
    <h1 class="display-5">githuber</h1>
    <p class="lead">Get some basic GitHub info - fast and simple.</p>
    <hr class="my-1">
</div>

<div class="row row-cols-1 row-cols-md-2 alert alert-info" style="padding-top: 40px;">
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Repository</h5>
                <p class="card-text">Get some basic information about a repository </p>
                <form action="#" method="get" th:action="@{/get-repo}">
                    <div class="form-group">
                        <label for="repoOrgName">Repo path</label>
                        <div class="row">
                            <div class="col">
                                <input class="form-control" id="repoOrgName" placeholder="Org name" th:name="orgName"
                                       type="text">
                            </div>
                            <div class="col">
                                <input class="form-control" id="repoName" placeholder="Repo name" th:name="repoName"
                                       type="text">
                            </div>
                        </div>
                        <small class="form-text text-muted">We'll never share your details with anyone else.</small>
                    </div>
                    <button class="btn btn-primary" type="submit">Check</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User</h5>
                <p class="card-text">Get some basic information about a GitHub user </p>
                <form action="#" method="get" th:action="@{/get-user}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input aria-describedby="usernameHelp" class="form-control" id="username" th:name="username"
                               type="text">
                        <small class="form-text text-muted" id="usernameHelp">We'll never share your details with anyone
                            else.</small>
                    </div>
                    <button class="btn btn-primary" type="submit">Check</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Repo Contributors</h5>
                <p class="card-text">Get the contributors on a map of a repository</p>
                <form action="#" method="get" th:action="@{/get-contribs}">
                    <div class="form-group">
                        <label for="contribRepoOrgName">Repo path</label>
                        <div class="row">
                            <div class="col">
                                <input class="form-control" id="contribRepoOrgName" placeholder="Org name"
                                       th:name="orgName" type="text">
                            </div>
                            <div class="col">
                                <input class="form-control" id="contribRepoUsername" placeholder="Repo name"
                                       th:name="repoName" type="text">
                            </div>
                        </div>
                        <small class="form-text text-muted">We'll never share your details with anyone else.</small>
                    </div>
                    <button class="btn btn-primary" type="submit">Check</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div th:if="${gitHubUser != null}">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4" style="padding: 15px;">
                    <img alt="..." class="card-img rounded-circle" src="..." th:src="${gitHubUser.avatarUrl}">
                    <p class="d-flex justify-content-center"
                       th:text="${ (gitHubUser.company == null ? '' : gitHubUser.company) + ' ' + (gitHubUser.location == null ? '' : gitHubUser.location)}"></p>
                    <br>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${gitHubUser.username + '/' + gitHubUser.name}"></h5>
                        <p class="card-text" th:text="${gitHubUser.bio}"></p>
                        <i class="fas fa-project-diagram"></i><span
                            th:text="${' Repos - ' + gitHubUser.numberOfRepositories}"></span><br>
                        <i class="fab fa-gratipay"></i><span
                            th:text="${' Followers - ' + gitHubUser.numberOfFollowers}"></span><br>
                        <i class="fas fa-link"></i><span th:text="${' URL - ' + gitHubUser.url}"></span><br>
                        <p class="card-text"><small class="text-muted"
                                                    th:text="'Joined GitHub on ' + ${gitHubUser.creationDate}"></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${gitHubRepo != null}">
        <div style="display: flex">
            <div class="card bg-light mb-3" style="max-width: 540px;">
                <div class="card-header" th:text="${gitHubRepo.owner.username + '/' + gitHubRepo.owner.name}"></div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${gitHubRepo.name}"></h5>
                    <p class="card-text" th:text="${gitHubRepo.description}"></p>
                    <i class="fas fa-link"></i><span th:text="${' URL - ' + gitHubRepo.url}"></span><br>
                    <p class="card-text"><small class="text-muted"
                                                th:text="'Created on ' + ${gitHubRepo.creationDate}"></small></p>
                </div>
            </div>
            <div class="overflow-auto"
                 style="max-height: 300px; max-width: 600px; margin-left: 15px; overflow-wrap: break-word; word-break: break-all;">
                <div class="list-group" id="commits">
                    <a class="list-group-item list-group-item-action"
                       style="overflow-wrap: break-word; word-break: break-all;"
                       target="_blank" th:each="commit : ${gitHubRepoCommits}">
                        <i class="fas fa-hashtag"></i>
                        <span th:text="${commit.sha}"></span><br>
                        <i class="fas fa-user"></i>
                        <span style="overflow-wrap: break-word; word-break: break-all;"
                              th:text="${' ' + commit.commit.author.name + ' - ' + commit.commit.message}"></span><br>
                        <small class="text-muted"
                               th:text="'Committed on ' + ${commit.commit.author.date}"></small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${gitHubRepoContributors != null}">
        <div style="display: flex">
            <div class="map" id="map" style="height:300px; width:700px;"></div>
            <script th:inline="javascript" type="text/javascript">
                var attribution = new ol.control.Attribution({
                    collapsible: false
                });

                var map = new ol.Map({
                    controls: ol.control.defaults({attribution: false}).extend([attribution]),
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    target: 'map',
                    view: new ol.View({
                        center: ol.proj.fromLonLat([28.78, 47]),
                        maxZoom: 18,
                        zoom: 1
                    })
                });

                var generatedFeatures = [];

                /*[# th:each="c : ${gitHubRepoContributors}"]*/

                var feature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat(["[(${c.city == null ? 0 : c.city.longitude})]", "[(${c.city == null ? 0 : c.city.latitude})]"])),
                });
                feature.setStyle(
                    new ol.style.Style({
                        image: new ol.style.Icon({
                            color: '[(${c.color})]',
                            crossOrigin: 'anonymous',
                            // For Internet Explorer 11
                            imgSize: [10, 10],
                            src: 'images/circle.svg',
                        }),
                    })
                );
                console.log('[(${c.city})]')
                console.log('[(${c.color})]')
                generatedFeatures.push(feature);

                /*[/]*/

                var layer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: generatedFeatures
                    })
                });
                map.addLayer(layer);

            </script>
            <div class="overflow-auto" style="max-height: 300px; margin-left: 15px;">
                <div class="list-group" id="contributors">
                    <a class="list-group-item list-group-item-action" target="_blank"
                       th:each="contrib : ${gitHubRepoContributors}"
                       th:href="${contrib.url}">
                        <i class="fas fa-user" th:style="'color:' + ${contrib.color} + ';'"></i><span
                            th:text="${' ' + contrib.username + ' - ' + contrib.url}"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>